In [1]:
%load_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION_NAME = config.get('AWS', 'REGION_NAME')

In [3]:
import boto3

s3 = boto3.resource('s3',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
%sql $conn_string

In [10]:
!python3 create_tables.py

In [11]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [12]:
!python3 etl.py

In [13]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Theodore', 'M', 0, 'Smith', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', '1540306145796', 154, None, 200, 1541290555796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 52),
 ('Professor Longhair', 'Logged In', 'Ann', 'F', 0, 'Banks', 214.20363, 'free', 'Salt Lake City, UT', 'PUT', 'NextSong', '1540895683796', 124, "Mean Ol'World", 200, 1541292603796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 99),
 (None, 'Logged In', 'Jahiem', 'M', 0, 'Miles', None, 'free', 'San Antonio-New Braunfels, TX', 'GET', 'Home', '1540817347796', 42, None, 200, 1541299033796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43),
 ('Gary Hobbs', 'Logged In', 'Jahiem', 'M', 1, 'Miles', 245.52444, 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540817347796', 42, 'En Mi Mundo', 200, 1541300092796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43),
 ('Lifehouse', 'Logged In', 'Jahiem', 'M', 2, 'Miles', 203.59791, 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540817347796', 42, "We'll Never Know", 200, 1541300337796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43)]

In [14]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARQVORN11F50C4EFEC', None, None, '', 'Bedlight For Blue Eyes', 1, 'SOMFRKT12A8C146C67', 'Without You', 165.38077, 0),
 ('AR8JO2B1187B98EBB6', None, None, 'New York City, NY, USA', 'Leftöver Crack', 1, 'SORLTAN12AF72ABBFA', 'Life Causes Cancer', 161.33179, 2007),
 ('AR1XD261187B9ACF9B', None, None, '', 'Nick Cave/Warren Ellis', 1, 'SOIYETP12A6D4F8B04', 'The Rider #3', 67.83955, 2006),
 ('AR19SOA1187B98F6E6', 40.71455, -74.00712, 'New York', 'Bob Neuwirth', 1, 'SOFUBCP12A8C13D5EF', 'Biding Her Time', 241.10975, 1990),
 ('ARZN98V1187B990D1D', 59.33217, 18.06243, 'Stockholm, Sweden', 'THERION', 1, 'SOMKNDC12A8C13AB14', 'Enter Vril-ya', 421.53751, 2000)]

In [15]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(41, datetime.datetime(2018, 11, 21, 20, 4, 4), 97, 'paid', 'SOXTMWU12AB0185E3B', 'ARB3YNF1187B992AF0', 817, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (105, datetime.datetime(2018, 11, 30, 14, 42, 1), 85, 'paid', 'SOPPSDA12AF72A3D97', 'ARDAF601187FB4CD05', 977, 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (169, datetime.datetime(2018, 11, 16, 17, 0, 36), 97, 'paid', 'SOHRKIG12A8C1415C7', 'ARO4NIA1187B9B8289', 633, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (233, datetime.datetime(2018, 11, 13, 8, 30, 1), 25, 'paid', 'SODWLOQ12AB017EC73', 'AR4SRB61187FB5538F', 442, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (27, datetime.datetime(2018, 11, 11, 15, 0, 37), 67, 'free', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 414, 'Nashville-Davidson--Murfreesboro--Franklin, TN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [16]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(32, 'Lily', 'Burns', 'F', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (86, 'Aiden', 'Hess', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'free')]

In [17]:
%sql SELECT * FROM songs LIMIT 5

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SODOFJA12AB0180FEB', 'Harbor Docks', 'ARBZ5F71187B9A5860', 0, 196.80608),
 ('SONZJGK12A6D4FBA14', 'Beau Rivage', 'ARBUPLW1187FB49B3C', 1996, 458.86649),
 ('SOYFFUA12AB01847CC', 'Little Heartwrecker', 'AR3FYKL1187FB44945', 2009, 204.85179),
 ('SOEJRAP12A8C13D8FA', 'Squarebiz', 'ARRNO111187B9B3FC9', 2007, 205.08689),
 ('SOFAQLG12A8C13AC04', 'I\x19m Slowly Turning Into You', 'AR8V1WA1187B9AD9E9', 2007, 274.59873)]

In [18]:
%sql SELECT * FROM artists LIMIT 5

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARHVU591187B99F46A', 'The Nightraver & The Magican', '', None, None),
 ('ARK9ILN1187B99B194', 'Mousse T. feat. Inaya Day', 'GERMANY', 51.16418, 10.45415),
 ('AR7I2YB1187B9A88E0', 'Lyres', 'Boston, MA', 42.31256, -71.08868),
 ('ARKT4DG1187B9A8C19', 'Kids Like Us', '', None, None),
 ('AR4ASIL1187FB46020', '30Y', '', None, None)]

In [19]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://airflow_redshift_user:***@dwhcluster.cz5am3hsteyo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 14, 6, 19, 41), 6, 14, 46, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 20, 7, 1, 13), 7, 20, 47, 11, 2018, '2'),
 (datetime.datetime(2018, 11, 5, 11, 8, 56), 11, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 17, 14, 48, 49), 14, 17, 46, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 5, 18, 13, 57), 18, 5, 45, 11, 2018, '1')]